.main-menu {
  display: flex;
  justify-content: space-between;
  .external-box {
    overflow: hidden;
    box-shadow: 0 0 10px rgba(200, 201, 204, 0.5);
    .grey-box {
      width: 240px;
      height: 155px;
      border: 2px solid #fff;
      border-radius: 5px;
      background: rgb(226, 226, 226);
      background: linear-gradient(
        0deg,
        rgba(226, 226, 226, 1) 0%,
        rgba(255, 255, 255, 1) 100%
      );
      position: relative;
      .text-field {
        position: absolute;
        bottom: 9px;
        left: 50%;
        transform: translatex(-50%);
        h6 {
          color: #929297;
          font-size: 19px;
          text-align: center;
          font-family: "Lato", sans-serif;
          font-weight: 100;
          margin: 0;
          white-space: nowrap;
        }
      }
      .image {
        position: absolute;
        &-icon-e {
          position: absolute;
          top: 15px;
          left: 15px;
          img {
            width: 28px;
            height: 32px;
          }
        }
        &-1 {
          right: -2px;
          top: 8px;
        }
        &-2 {
          top: 8px;
          left: 50%;
          transform: translatex(-50%);
        }
        &-3 {
          top: 20px;
          left: 50%;
          transform: translatex(-50%);
        }
        &-4 {
          top: 8px;
          left: 50%;
          transform: translatex(-50%);
        }
        &-riban {
          top: -3px;
          right: -2px;
        }
      }
    }
  }
}

.menu-apps {
  display: flex;
  justify-content: space-around;
  .clear-box {
    width: 33.3%;
    margin: 20px;
    .caption {
      display: flex;
      .icon {
      }
      .text-caption {
        h4 {
          color: #505050;
        }
        .sub {
          color: #5f7390;
        }
      }
    }
  }
}
