body {
  height: 100vh;
  //   overflow: hidden;
  background: linear-gradient(
    to bottom,
    rgba(21, 21, 38, 1),
    rgba(231, 232, 234, 1)
  );
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0;
  padding: 0;
  position: relative;
  font-size: 14px;
  //   background: red !important;
}

// font-family: 'Lato', sans-serif;
// font-family: 'Lobster', cursive;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Oswald', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Philosopher', sans-serif;
// font-family: 'Raleway', sans-serif;
// font-family: 'Roboto', sans-serif;

* {
  box-sizing: border-box;
}

.container {
  margin: 0 auto;
  padding: 15px;
  max-width: 1230px;
  position: relative;

  &-lg {
    width: 100%;
  }

  &--area {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@import "header.scss";
@import "top-area.scss";

h1 {
  color: #e7e8ea;
  font-family: "Philosopher", sans-serif;
  text-transform: uppercase;
  font-size: 45px;
  margin-bottom: 0;
}
h2 {
  color: #e7e8ea;
  font-size: 39px;
  font-family: "Philosopher", sans-serif;
  margin: 0;
}
h3 {
  font-size: 23px;
  color: #e7e8ea;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  margin: 0;
  margin-top: 5px;
}
